NEXT_PUBLIC_SITE_URL=https://your-vercel-domain.vercel.app

NEXT_PUBLIC_GOOGLE_ANALYTICS=google-analytics-id

# Optional — only needed for Cloudinary-powered galleries
CLOUDINARY_API_KEY=cloudinary-api-key
CLOUDINARY_API_SECRET=cloudinary-api-secret
CLOUDINARY_CLOUD_NAME=cloudinary-cloud-name
